<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <li>
    <%= check_box_tag 'task_completed', 'yes', task.completed %>
    <%= link_to task.title, task_path(task) %>

    <%= link_to delete_task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </li>
<% end %>

<%= link_to '+ Add a new task', tasks_new_path %>
